<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Heloo good mornng student how are you</h1>
  <h2><%=  1+2  %> </h2>
  <h2><%=  ['apple' , 'banana' , '98' ][1]  %> </h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita ea vel eligendi ex pariatur voluptate, distinctio, voluptatum fugit aut sint iste architecto. Deleniti, veniam recusandae est ipsum obcaecati voluptatibus ut asperiores voluptates mollitia earum culpa maiores distinctio enim accusamus nemo provident fugiat error eos molestias sed maxime? Molestias eligendi, deleniti sunt voluptates doloremque labore eius, inventore aperiam rerum culpa, quia corrupti dolorum voluptatum maiores at debitis voluptas sint aliquam. Magnam molestias minus, saepe esse exercitationem possimus itaque, voluptatem pariatur tempore architecto nisi ipsum rem ducimus veniam eos. Deleniti ea eveniet inventore, delectus iste, veritatis repudiandae similique recusandae quidem, aliquam in officiis modi dignissimos nostrum voluptatem omnis voluptatum quis ex. Doloremque velit nulla repellendus sequi laboriosam cumque? In reiciendis animi exercitationem enim ea eius consectetur voluptatibus, maxime corrupti ipsum assumenda aut eaque veritatis illum non. Perspiciatis unde quisquam quod? Debitis voluptate maiores commodi error at voluptas placeat ex aut nulla. Distinctio, nostrum sapiente numquam maiores eius laboriosam delectus neque facilis eos expedita id similique eveniet? Corporis dolore officia adipisci excepturi sed sint perferendis alias vitae voluptates, eligendi repellat eos sapiente tempora voluptatum deserunt magnam. Eaque blanditiis ipsum perspiciatis vero excepturi eligendi error necessitatibus tempore quae qui, aut dicta consectetur illum nemo.</p>
  <button style="background-color: rosybrown; padding: 5px 10px; color: white; " >Click me</button>
</body>
</html>